<!-- <div [ngStyle]="{'display':showForm ? 'none' : 'inline-block' }" class="ui grid"> -->
<div class="ui grid">
  <div class="ui one column stackable center aligned page grid">
    <div [ngStyle]="{'display':showForm ? 'none' : 'inline-block' }" class="column">
      <div   class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search..." (keyup)="onKey($event)">
        <div class="ui teal button" (click)="onClickMe()">Search</div>

        <div [ngStyle]="{'display':showForm ? 'none' : 'block' }" class="ui primary button add-employee-btn" (click)="onClickAdd()">Add Employee</div>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{'display':showForm ? 'inline-block' : 'none' }" class="ui form" id = 'insert-form'>
  <h4 class="ui dividing header">Add Employee</h4>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" [(ngModel)]="newEmployee.firstName"  placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" [(ngModel)]="newEmployee.lastName"  placeholder="Last Name">
      </div>
    </div>
  </div>

  <div class="field">
    <label>Other Information</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.position" placeholder="Position">
      </div>

    </div>
  </div>

  <div class="field">
    <label>Degree</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.degree1" placeholder="Degree1">
      </div>

      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.degree2" placeholder="Degree2">
      </div>

      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.degree3" placeholder="Degree3">
      </div>

    </div>
  </div>



  <div class="field">
    <label>Application Specialties</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.specialist" placeholder="Application Specialties">
      </div>

    </div>
  </div>

  <div class="field">
    <label>Career Fields</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.fields" placeholder="Career Fields">
      </div>

    </div>
  </div>

  <div class="field">
    <label>Areas of Expertise</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.expertise" placeholder="Areas of Expertise">
      </div>

    </div>
  </div>

  <div class="field">
    <label>Personal Interests</label>
    <div class="fields">
      <div class="twelve wide field">
        <input type="text" [(ngModel)]="newEmployee.interests" placeholder="Personal Interests">
      </div>

    </div>
  </div>

    <!-- <div><input class="employee-form-field" [(ngModel)]="newEmployee.firstName" placeholder="Firstname"></div>
    <div><input class="employee-form-field" [(ngModel)]="newEmployee.lastName" placeholder="Lastname"></div> -->
    <!-- <div><input  class="employee-form-field" [(ngModel)]="newEmployee.position" placeholder="Position"></div> -->

    <div><div class="ui teal button" (click)="onClickSave()">Save Employee</div></div>
  <!-- </form> -->
</div>

<!--<div class="ui list">-->
  <!--<div *ngFor="let r of consultants"  class="item">-->
    <!--<div class="content">-->
      <!--<a class="header">name: {{ r.firstName }} {{r.lastName}}</a>-->
      <!--<div class="description">position: {{r.position}}</div>-->
      <!--<div class="description">degree1: {{r.degree1}}</div>-->
      <!--<div class="description">degree2: {{r.degree2}}</div>-->
      <!--<div class="description">degree3: {{r.degree3}}</div>-->
      <!--<div class="description">specialist: {{r.specialist}}</div>-->
      <!--<div class="description">fields: {{r.fields}}</div>-->
      <!--<div class="description">expertise: {{r.expertise}}</div>-->
      <!--<div class="description">interests: {{r.interests}}</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<table [ngStyle]="{'display':showForm ? 'none' : 'table' }" class="ui celled table">
<table class="ui celled table">
  <thead>
  <tr>
    <th>Edit</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Position</th>
    <th>Degree1</th>
    <th>Degree2</th>
    <th>Degree3</th>
    <th>Application Specialties</th>
    <th>Career Fields</th>
    <th>Areas of Expertise</th>
    <th>Personal Interests</th>
  </tr></thead>
  <tbody>
  <tr *ngFor="let r of consultants"  class="item">
    <td><div class="ui teal button" (click)="onClickDelete(r.id)">Delete</div></td>
    <td><div [innerHTML]="r.lastName  | highlight : message"></div></td>
    <td><div [innerHTML]="r.firstName  | highlight : message"></div></td>
    <td><div [innerHTML]="r.position  | highlight : message"></div></td>
    <td><div [innerHTML]="r.degree1  | highlight : message"></div></td>
    <td><div [innerHTML]="r.degree2  | highlight : message"></div></td>
    <td><div [innerHTML]="r.degree3  | highlight : message"></div></td>
    <td><div [innerHTML]="r.specialist  | highlight : message"></div></td>
    <td><div [innerHTML]="r.fields  | highlight : message"></div></td>
    <td><div [innerHTML]="r.expertise  | highlight : message"></div></td>
    <td><div [innerHTML]="r.interests  | highlight : message"></div></td>



  </tr>


</table>
