<div *ngFor="let q of questions" class="ui form" xmlns="">
  <div class="grouped fields">
    <label>{{q.question}}</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
        <label>{{q.option1}}</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>{{q.option2}}</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>{{q.option3}}</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" tabindex="0" class="hidden">
        <label>{{q.option4}}</label>
      </div>
    </div>
  </div>
</div>

